.space1 {

    padding: 50px;

}


.space2 {

    padding: 100px;

}


.space3 {

    padding: 150px;

}


.space4 {

    padding: 250px;

}

.space5 {

    padding: 300px;

}

.space6 {

    padding: 350px;

}
