/* ======= SOCIAL ICONS ======= */
.social-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.social-links img {
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
  .social-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .social-links img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .social-links {
    gap: 10px;
  }

  .social-links img {
    width: 26px;
    height: 26px;
  }
}
