/* SECTION VEILLE TECHNOLOGIQUE */
#techwatch {
    background: #111;
    padding: 100px;
    border-radius: 15px;
    text-align: center;
    color: white;
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
    position: relative;
}

#techwatch h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #595dff;
}

/* Bouton de déroulement */
.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 10px;
}

/* Animation de rotation */
.toggle-btn.active {
    transform: rotate(180deg);
}

/* Ajout du scroll pour la section déroulante */
.tech-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.tech-content.active {
    max-height: 600px; /* Ajustable selon le contenu */
    opacity: 1;
    padding-top: 15px;
    overflow-y: auto;
    max-height: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}